.easy-crop-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.easy-crop-container .reactEasyCrop_Container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: auto;
}

.easy-crop-container .reactEasyCrop_CropArea {
  border: 2px solid rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
  cursor: move;
}

/* Líneas de cuadrícula */
.easy-crop-container .reactEasyCrop_CropAreaGrid::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.3);
  top: 0;
  bottom: 0;
  left: 33.33%;
  right: 33.33%;
  border-top: 0;
  border-bottom: 0;
}

.easy-crop-container .reactEasyCrop_CropAreaGrid::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.3);
  top: 33.33%;
  bottom: 33.33%;
  left: 0;
  right: 0;
  border-left: 0;
  border-right: 0;
}
