html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Clase para centrar contenido horizontal y verticalmente */
.centered {
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100%; /* Asegura que el contenedor ocupe toda la altura */
}

/* Clase para centrar contenido horizontalmente */
.centered-horizontal {
  display: flex;
  justify-content: center;
}

/* Clase para centrar contenido verticalmente */
.centered-vertical {
  display: flex;
  align-items: center;
  height: 100%;
}

/* Clase para centrar texto */
.text-center {
  text-align: center;
}

/* Banner de desarrollo */
.development-banner {
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-size: 0.875rem;
  background-color: rgba(253, 224, 71, 0.8);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-bottom: 1px solid rgb(250, 204, 21);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
